th {
 background-color: #D3D3D3;
 text-align: center;
}

.table {
 border: 1px solid #000000;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
 border: 1px solid #000000;
}

select {
 width:180px;
 height:37px;
 text-align:center;
}

hr {
 height:5px;
 border:none;
 color:#333;
 background-color:#333;
}

#amount {
 width:180px;
 height:37px;
 text-align:center;
}


#wrap div {
 float: left;
}

#leftPane {
 width: 30%;
}

#midPane {
 width: 25%;
 padding-right: 15px;
}

#rightPane {
 width: 30%;
 padding-left: 15px;
}

#sellAmount, #buyAmount {
 text-align: center;
}
