{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Ebury Trading{% endblock %}</title>

    <meta charset="utf-8">

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="Author" content="iwannajoinebury.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="description" content="{% block meta_descr %}Trade with just 1 click.{% endblock %}">

    {% compress css %}
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/bootstrap-4.0.0-beta-dist/css/bootstrap.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% endblock %}
    {% endcompress %}

    {% compress js %}
        {% block js %}
            <script type="text/javascript" src="{% static 'libs/money/money.js' %}"></script>
            <script type="text/javascript" src="{% static 'libs/jquery/jquery-1.11.3.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'libs/bootstrap/bootstrap-4.0.0-beta-dist/js/bootstrap.js' %}"></script>
        {% endblock %}
    {% endcompress %}

</head>
<body>
    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>
</html>
