{% extends "base/base.html" %}

{% block content %}
<div role="main" class="container theme-showcase" style="width:900px; margin:0 auto;">
    
    <div class="page-header">
        <h3>Booked Trades</h3>
        <hr style="height:4px;border:none;color:#333;background-color:#333;" />
    </div>

    <div align="right">
        <a href={% url 'new_trade' %}>
        <button class="btn btn-xs btn-info" type="button">New Trade</button>
        </a>
    </div>

    </br> 

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sell CCY</th>
                        <th>Sell Amount</th>
                        <th>Buy CCY</th>
                        <th>Buy Amount</th>
                        <th>Rate</th>
                        <th>Date Booked</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trade in object_list %}
                        <tr>
                            <td>{{trade.sell_ccy}}</td>
                            <td>{{trade.sell_amount}}</td>
                            <td>{{trade.buy_ccy}}</td>
                            <td>{{trade.buy_amount}}</td>
                            <td>{{trade.rate}}</td>
                            <td>{{trade.created|date:"d/m/Y H:i"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}

{% block footer %}
<p align='center'> &copy 2017 iwannajoinebury.com </p>
{% endblock %}
