{% extends "base/base.html" %}

{% block content %}
<div role="main" class="container theme-showcase" style="width:900px; margin:0 auto;">
    <div class="page-header">
        <h3>New Trade</h3>
        <hr/>
    </div>
    </br> 
   <div class="row">
        <div class="col-md-12">
            <form action="./" method="POST">
                {% csrf_token %}
                <div id="wrap" align="right">
                    <div id="leftPane">
                        <div>
                            <p align="center">Sell Currency</p>
                            {{ form.sell_ccy }}
                            </br>
                            <p align="center">Sell Amount</p>
                            {{ form.sell_amount }}
                            </br> </br>
                            <div class="form_control">
                                <button type="submit" class="btn btn-xs btn-success pull-left" type="button">Create</button>
                            </div>
                        </div>
                    </div>
                    <div id="midPane">
                        <p align="center">Rate</p>
                        {{ form.rate }}
                    </div>

                    <div id="rightPane">
                        <div>
                            <p align="center">Buy Currency</p>
                            {{ form.buy_ccy }}
                            </br>
                            <p align="center">Buy Amount</p>
                            {{ form.buy_amount }}
                            </br> </br>
                            <a href={% url 'index' %}>
                                <button class="btn btn-xs btn-danger pull-right" type="button">Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        function toggleDropdowns(event) {
            <!-- Sell Currency value is selected first -->
            if (event.target.id == "id_sell_ccy"){
                var source_curr = event.explicitOriginalTarget.value
                var target_curr = document.getElementById('id_buy_ccy').value
                if (target_curr != "") {
                    var new_rate = function(data) {
                          fx.rates = data.rates
                          var rate = fx(1).from(source_curr).to(target_curr)
                        var s = document.getElementById('id_rate')
                        s.innerHTML = rate.toFixed(4)
                    }

                    $.getJSON("http://api.fixer.io/latest", new_rate)
                }

            }

            <!-- Buy Currency value is selected first -->
            if (event.target.id == "id_buy_ccy"){
                var source_curr = event.explicitOriginalTarget.value
                var target_curr = document.getElementById('id_sell_ccy').value
                if (source_curr != "") {
                    var new_rate = function(data) {
                        fx.rates = data.rates
                        var rate = fx(1).from(source_curr).to(target_curr)
                        $("#id_rate").val(rate.toFixed(4));
                    }

                    $.getJSON("http://api.fixer.io/latest", new_rate)
                }
            }
        } 

        <!-- calculate the Buy Amount based on Sell Amount and rate -->
        function calculateBuyAmount(event) {
            var rate = $('#id_rate').val();
            var sell_amount = $('#id_sell_amount').val()


            if (rate != ""){
                var buy_amount = parseFloat(rate)  * parseFloat(sell_amount)
                $("#id_buy_amount").val(buy_amount.toFixed(2));
            }
        }

        document.getElementById('id_sell_ccy').addEventListener("change", toggleDropdowns);
        document.getElementById('id_buy_ccy').addEventListener("change", toggleDropdowns);
        document.getElementById('id_sell_amount').addEventListener("change", calculateBuyAmount);
    });
</script>
{% endblock %}


{% block footer %}
</br> </br>
<p align='center'> &copy 2017 iwannajoinebury.com </p>
{% endblock %}
